.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.aside {
    width: 20%;
    height: 100vh;
    padding: 2rem 1rem 3rem;
}

.main {
    width: 80%;
    height: 100vh;
}

.ul {
    padding-left: 10px;
    text-align: left;
}

.ul > li {
    margin: 0.5rem 0rem;
}

.title {
    font-size: large;
    font-weight: 700;
    color: darkgray;
    margin-bottom: 2rem;
}